<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" href="main.css">
		<link href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Quattrocento" rel="stylesheet">
		<meta http-equiv="cache-control" content="no-cache">
		<!-- Coded by Falcon Alpha 
		
		Who is Falcon Alpha?
		Just an engineering student from Malaysia, nothing special.
		If you would like to contact me, please email me at FalkoAlpha@gmail.com -->
		
	</head>
	<body>
	
		<header>
			<ul class="nav">
				<li><a href="{{site.baseurl}}/index">Home</a></li>
				<li><a href="{{site.baseurl}}/about">About</a></li>
				<li><a href="{{site.baseurl}}/disclaimer">Disclaimer</a></li>
				<li><a href="{{site.baseurl}}/contactlanding">Contact</a></li>
				<li><a href="{{site.baseurl}}/updates">Updates</a></li>
			</ul>
		</header>
		
		<br>
		{{ content }}
		<br>
		
		<footer>
		</footer>
		
	</body>
</html>
